// Created by EbiBuilder 1.0

package main

import (
	"github.com/hajimehoshi/ebiten/v2"
	"github.com/hajimehoshi/ebiten/v2/ebitenutil"
	"image/color"
	"log"
	"time"
)
type Game struct {

}

func NewGame() *Game {
	g := &Game{}
	return g
}

func (g *Game) Update() error {

	return nil
}

func (g *Game) Draw(screen *ebiten.Image) {

}

func (g *Game) Layout(outsideWidth, outsideHeight int) (int, int) {
	return 640, 480
}

func main() {
	ebiten.SetWindowSize(640, 480)
	ebiten.SetWindowTitle(" {{GameName}} ")
	if err := ebiten.RunGame(NewGame()); err != nil {
		log.Fatal(err)
	}
}

